<!-start->
<link type="text/css" rel="stylesheet" href="{#TM#}20240425/css/shopping_cart.css" />
<script src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js" defer></script>

<script language="javascript" src="{#RP#}member/js/zone.js"></script>
<script language="javascript" src="{#RP#}member/js/memberset.js?1"></script>
<script type=text/javascript src="{#CP#}js/shopcartorder.js?6"></script>
<!-start->

<!-m0->
<div id="shopping_cart_amount">購物籃( {#tnums#} )</div>
<div class="shopping_cart_flow" x-data="order_data_set()" x-init="order_data_init()">
    <div id="shopping_cart" class="">
      <!-- product items in the cart -->
        <div id="produce_items" class="row mx-0">
          <template x-for="(pdItem, index) in orderList" :key="index">
          <div class="col-3 product_card">
            <div class="product_img" x-bind:style="`background-image: url(${pdItem.orderdata.srcs})`"></div>
            <div class="product_info">
              <input type="hidden" x-bind:id="'fz_' + pdItem.orderdata.gid+ pdItem.orderdata.fzspecid+ pdItem.orderdata.picgid"  x-bind:value="pdItem.orderdata.fz">
              <div class="row">
                <div class="p_name col-10" x-text="pdItem.orderdata.goodsname"></div>
                <div class="col-2 text-end x_mark" x-bind:id="'cartdel_' + pdItem.orderdata.gid+ pdItem.orderdata.fzspecid+ pdItem.orderdata.picgid">⛌</div>
              </div>
              <div class="p_price" x-text="pdItem.orderdata.pricesymbol + pdItem.orderdata.jine"></div>
              <div class="p_detail" x-text="pdItem.orderdata.buysize+ ' | ' + pdItem.orderdata.colorname"></div>
              <div>
                <form id='amout_form' method='POST' action='#'>
                  <label for=""></label>
                  <input class="amout_countser" type='button' value='－'  @click="minusItem(index)"/>
                  <input class="amout_counts" type='text' name='quantity'  x-model='pdItem.orderdata.acc'  />
                  <input class="amout_countser" type='button' value='＋'  @click="addItem(index)"/>
                </form>
              </div>
            </div>
          </div>
        </template>
          <!-- product items in the cart -->
        </div>

        <div id="produce_items_iphone_rwd" style="display:none">
          <template x-for="(pdItem, index) in orderList">
          <div class="row">
            <div class="col-6 product_card">
              <div class="product_img" style="background-image: url('')"></div>
            </div>
            <div class="col-6 product_info d-flex">
              <div class="mt-auto pb-2">
                <div class="x_mark" x-bind:id="'cartdel_' + pdItem.orderdata.gid+ pdItem.orderdata.fzspecid+ pdItem.orderdata.picgid">⨉</div>
                <input type="hidden" x-bind:id="'fz_' + pdItem.orderdata.gid+ pdItem.orderdata.fzspecid+ pdItem.orderdata.picgid"  x-bind:value="pdItem.orderdata.fz">
                <div class="p_name" x-text="pdItem.orderdata.goodsname"></div>
              <div class="p_price" x-text="pdItem.orderdata.pricesymbol + pdItem.orderdata.jine"></div>
              <div class="p_detail" x-text="pdItem.orderdata.buysize+ ' | ' + pdItem.orderdata.colorname"></div>
                <form id='amout_form' method='POST' action='#'>
                  <label for=""></label>
                  <input class="amout_countser" type='button' value='－'  @click="minusItem(index)" />
                  <input class="amout_counts" type='text' name='quantity'  x-model='pdItem.orderdata.acc'  />
                  <input class="amout_countser" type='button' value='＋' @click="addItem(index)" />
                </form>
              </div>
              <div class="text-end x_mark_iphone_rwd" x-bind:id="'cartdel_' + pdItem.orderdata.gid+ pdItem.orderdata.fzspecid+ pdItem.orderdata.picgid">⨉</div>
            </div>
          </div>
          </template>
        </div>
		
    </div>

    <div id="delivery_options" style="display: none;">
      <form class="options_delivery_form">
          <div class="options_title">付款與配送 Taiwan Shipping</div>
          <label for="standard_credit_card" class="d-flex my-auto">
              <input class="custom-radio my-auto" type="radio" id="standard_credit_card" name="delivery" value="1" x-model="deliveryInfo.spayid">
              <div>信用卡付款</div>
          </label>
          <div id="credit_card_options"></div>
  
          <label for="standard_cash" class="d-flex my-auto">
              <input class="custom-radio my-auto" type="radio" id="standard_cash" name="delivery" value="2" x-model="deliveryInfo.spayid">
              <div>貨到付款</div>
          </label>
          <div id="cash_on_delivery_options"></div>
  
          <div class="options_title">海外配送 Overseas Shipping</div>
          <label for="overseas_shipping" class="d-flex my-auto">
              <input class="custom-radio my-auto" type="radio" id="overseas_shipping" name="delivery" value="overseas_shipping" x-model="deliveryInfo.spayid">
              <div>信用卡付款</div>
          </label>
          <div id="overseas_shipping_options"></div>
      </form>
    </div>
  
  

    <div id="delivery_options_show" style="display: none;">
      <h3></h3>
    </div>
    <div id="recipient_info_credit_card" style="display: none;">
      <div class="recipient_info">
        收件⼈資訊
      </div>
      <form id="recipient_info_credit_card_address">
        <div class="d-flex">
          <label>真實姓名</label>
          <input type="text" name="recipient_name" placeholder="輸入真實姓名" x-model="deliveryInfo.mk_name"/>
        </div>
        <div id="mart_options" class="d-flex">
          <div class="mart_options_title">超商</div>
          <select id="mart_options" name="mart_options" x-model="deliveryInfo.market">
            <option value="7_11" class="mart_options">7-11</option>
            <option value="family_mart" class="mart_options">全家</option>
          </select>
        </div>
        <div class="d-flex mart_address">
          <label>超商地址</label>
          <input type="text" name="mart_address" placeholder="請輸入地址" x-model="deliveryInfo.marketaddr">
        </div>
        <div class="mart_address_2 address_rwd">
          <label>地址２</label>
          <input type="text" name="mart_address_2" placeholder="請輸入地址">
        </div>
        <div class="d-flex">
          <label>店號</label>
          <input type="text" name="mart_code" placeholder="輸入店號" x-model="deliveryInfo.marketname"/>
        </div>
        <div class="d-flex">
          <label>⼿機號碼</label>
          <input type="text" name="phone_number" placeholder="輸入有效手機" x-model="deliveryInfo.mk_mobi"/>
        </div>
      </form>
    </div>

    <div id="recipient_info_cash_on_delivery" style="display: none;">
      <div class="recipient_info">
        收件⼈資訊
      </div>
      <form id="recipient_info_cash_address">
        <div class="d-flex the_name">
          <label>真實姓名</label>
          <input type="text" name="the_name" placeholder="輸入真實姓名" x-model="deliveryInfo.sname"/>
        </div>
        <div id="city_option" class="d-flex city_option">
          <div class="city_option_title">城市</div>
          <!--
          <select id="city_option" name="city_option" x-model="deliveryInfo.scity">
            <option value="桃園市" class="city_option">桃園市</option>
          </select>-->
          <span id="zonelist"></span>
          <select id="Province" onKeyUp='if(window.event.keyCode==13) document.zoneid.focus();'  onChange="provinceSelChange(zoneid,Province.value,1,postcode,addr,Province)" name="city_option" x-model="deliveryInfo.scity">
          </select>
          <div class="text-danger place_limited">• 限本島</div>
        </div>
        <div class="d-flex region_and_post">
          <div id="the_region_options" class="d-flex">
            <div class="the_region_options_title">地區</div>
            <select id="zoneid" onChange="postSelChange(Province.value,zoneid.value,postcode,addr,Province)" name="the_region_options" x-model="deliveryInfo.szone">
            </select>   
          </div>
          <div class="d-flex post_code">
            <label>郵遞區號</label>
            <input id="postcode" type="text" name="mart_code" x-model="deliveryInfo.spostal"/>
          </div>
        </div>
        <div class="d-flex the_address">
          <label>地址</label>
          <input id="addr" type="text" name="address" placeholder="請輸入地址"  x-model="deliveryInfo.saddr">
        </div>
        <div class="the_address_2 address_rwd">
          <label>地址２</label>
          <input type="text" name="the_address_2" placeholder="請輸入地址">
        </div>
        <div class="d-flex the_phone_number">
          <label>⼿機號碼</label>
          <input type="text" name="phone_number" placeholder="輸入有效手機" x-model="deliveryInfo.sphone"/>
        </div>
      </form>
    </div>

    <div id="recipient_info_overseas" style="display: none;">
      <div class="recipient_info">
        收件⼈資訊
      </div>
      <form id="recipient_info_overseas_form">
        <div class="d-flex full_name">
          <label>Name</label>
          <input type="text" name="recipient_name" placeholder="Enter Full Name" x-model="deliveryInfo.sname"/>
        </div>
        <div id="city_options" class="d-flex">
          <div class="city_options_title">City</div>
          <select id="city_options" name="city_options" x-model="deliveryInfo.scity">
            <option value="Hong_Kong" class="city_options"></option>
          </select>
        </div>
        <div class="d-flex region_and_postal">
          <div id="region_options" class="d-flex">
            <div class="region_options_title">Region</div>
            <select id="region_options" name="region_options" x-model="deliveryInfo.szone">
              <option value="region" class="region_options"></option>
            </select>
          </div>
          <div class="d-flex postal_code">
            <label>Postal Code</label>
            <input type="text" name="mart_code" x-model="deliveryInfo.spostal"/>
          </div>
        </div>
      <!-- for iphone -->
        <div id="region_options" class="produce_items_iphone_rwd" style="display:none">
          <div class="region_options_title">Region</div>
          <select id="region_options" name="region_options" x-model="deliveryInfo.szone">
            <option value="region" class="region_options"></option>
          </select>
        </div>
        <div class="postal_code produce_items_iphone_rwd" style="display:none">
          <label>Postal Code</label>
          <input type="text" name="mart_code" x-model="deliveryInfo.spostal"/>
        </div>
      <!-- for iphone -->
        <div class="d-flex overseas_address">
          <label>Address</label>
          <input type="text" name="mart_address" placeholder="Enter Address" x-model="deliveryInfo.saddr">
        </div>
        <div class="overseas_address_2 address_rwd">
          <label>Address 2</label>
          <input type="text" name="mart_address_2" placeholder="Enter Address">
        </div>
        <div class="d-flex phone_number">
          <label>Mobile Number</label>
          <input type="text" name="phone_number" placeholder="Enter Valid Mobile Number" x-model="deliveryInfo.sphone"/>
        </div>
      </form>
    </div>

    <div class="invoice_options" style="display: none">
      <div>發票類型</div>
      <div class="tabs">
        <button class="tab-button" data-target="cloud" onclick="handleTabClick(event)">雲端</button>
        <button class="tab-button" data-target="company" onclick="handleTabClick(event)">公司</button>
        <button class="tab-button" data-target="barcode" onclick="handleTabClick(event)">手機條碼</button>
        <button class="tab-button" data-target="donate" onclick="handleTabClick(event)">捐贈</button>
      </div>

      <div class="tab-content" id="cloud">
        <div>依財政部規定，發票已託管，無需開立紙本發票。</div>
      </div>
  
      <div class="tab-content" id="company" style="display:none;">
        <div class="d-flex">
          <div>
            <label for="company-input">統編</label>
            <input type="text" id="company-input">
          </div>
          <div>
            <label for="company-input-2">抬頭</label>
            <input type="text" id="company-input-2">
          </div>
        </div>
      </div>
  
      <div class="tab-content" id="barcode" style="display:none;">
        <div class="d-flex">
          <div>
            <label for="barcode-input"></label>
            <input type="text" id="barcode-input" placeholder="輸入條碼">
          </div>
          <div>
            <label for="barcode-input-2"></label>
            <input type="text" id="barcode-input-2" placeholder="再次輸入">
          </div>
        </div>
        <div class="text-danger forms-alert">反斜線開頭的英數字 ､ 符號組成</div>
      </div>
  
      <div class="tab-content" id="donate" style="display:none;">
          <div>愛⼼捐贈碼 8866 (幫幫浪浪)</div>
      </div>
    </div>

    <div class="order_info">
      訂單資訊
    </div>
    <div  id="order_info_content" class="row p-3">
      <div class="col-2">
        <div class="t_amont"><span class="font-weight-bold">{#tnums#}</span> 商品</div>
        <div class="t_delivery" x-text="'配送 (商品滿'+orderInfo.setyunfei + '免運)'"></div>
        <div class="t_balances">餘額抵⽤</div>
        <div class="t_discount_code">輸入折扣碼</div>
        <form  class="form-inline" id="promoCode" method="post" action="/shop/cart.php">
        <input type='text' name='promocode' x-bind:value="cuspromocode" class='discount_code' />
        <span class="text-danger small my-auto">無效</span>
        <input type="hidden" name="promochk" value="1" />
        </form>
        <div class="t_discount_birth">生日折扣碼</div>
        <input type='text' name='discount_birth' value='' class='discount_birth' />
        <span class="text-danger small my-auto">無效</span>
      </div>
      <div class="col-1 text-right">
        <div class="t_amonts" x-text="orderInfo.pricesymbol + orderInfo.oritjine"></div>
        <div class="t_delivery" x-text="orderInfo.pricesymbol + orderInfo.yunfei"></div>
        <div class="t_balances" x-text="'-' + orderInfo.pricesymbol + orderInfo.disaccount"></div>
        <br />
        <div class="d-flex discount_code_rema" x-text="'-' + orderInfo.pricesymbol +orderInfo.promoprice"></div>
        <br />
        <div class="d-flex discount_code_birth">- $ 0</div>
      </div>
    </div>

    <div id="order_info_content_checked" class="row p-3" style="display: none;">
      <div class="col-2">
        <div class="t_amonts_checked"><span class="font-weight-bold">{#tnums#}</span> 商品</div>
        <div class="t_delivery_checked" x-text="'配送 (商品滿'+orderInfo.setyunfei + '免運)'"></div>
        <div class="t_balances_checked">餘額抵⽤</div>
        <div class="t_discount_checked">折扣</div>
      </div>
      <div class="col-1 text-right">
        <div class="t_amonts_checked_value" x-text="orderInfo.pricesymbol + orderInfo.oritjine"></div>
        <div class="t_delivery_checked_value" x-text="orderInfo.pricesymbol + orderInfo.yunfei"></div>
        <div class="t_balances_checked_value" x-text="'-' + orderInfo.pricesymbol + orderInfo.disaccount"></div>
        <div class="t_discount_checked_value" x-text="'-' + orderInfo.pricesymbol +orderInfo.promoprice"></div>
      </div>
    </div>

    <div id="total_prices" class="row">
      <div class="col-2 h5 font-weight-bolder">總金額</div>
      <div class="col-1 text-right h5 font-weight-bolder">
        <div class="text-end fw-bolder" x-text="orderInfo.pricesymbol + (orderInfo.oritjine+orderInfo.yunfei-orderInfo.disaccount-orderInfo.promoprice)"></div>
        <!-- <br /> -->
        <div class="text-end fw-normal small" stlye="font-size: 80%">• 含營業稅</div>
      </div>
    </div>

    <div id="total_prices_checked" class="row" style="display: none;">
      <div class="col-2 h5 font-weight-bolder">總金額</div>
      <div class="col-1 text-right h5 font-weight-bolder" ">
        <div class="text-end fw-bolder" x-text="orderInfo.pricesymbol + (orderInfo.oritjine+orderInfo.yunfei-orderInfo.disaccount)"></div>
        <!-- <br /> -->
        <div class="text-end fw-normal small" stlye="font-size: 80%">• 含營業稅</div>
      </div>
    </div>
    

    <div id="checked_continue" class="row">
      <div class="col-1">
        <button id="checked_continue_btn_step1">繼續</button>
      </div>
      <div class="col-2 text-right d-flex px-0">
        <br />
        <h7 class="text-right mt-auto ml-auto w-100">* 繼續即表示我已閱讀並接受<u>購買條款</u>
        </h7>
      </div>
    </div>

    <div id="checked_continue_step2" class="row" style="display: none;">
      <div class="col-1 h-100">
        <button id="checked_continue_btn_step2">繼續</button>
      </div>
      <div class="col-2 text-right">
        <button id="prepage_step2">上一頁</button>
      </div>
      <div class="col-9"></div>
    </div>

    <div id="checked_continue_step3" class="row" style="display: none;">
      <form id="OrderForm" class="col-1 h-100" method="post" action="">
        <div class="h-100 w-100">
          <button id="checked_continue_btn_step3">繼續</button>
        </div>

        <input name="marketname" type="hidden" id="marketname" x-bind:value="deliveryInfo.marketname" /> 
        <input name="marketaddr" type="hidden" id="marketaddr" x-bind:value="deliveryInfo.marketaddr" /> 
        <input name="mk_name" type="hidden" id="mk_name" x-bind:value="deliveryInfo.mk_name" /> 
        <input name="mk_mobi" type="hidden" id="mk_mobi" x-bind:value="deliveryInfo.mk_mobi" /> 
        <input name="markets" type="hidden" id="markets" x-bind:value="deliveryInfo.market" />
        <input type="hidden" name="shipinfo" id="shipinfo" value="">


      
      <input type="hidden" name="receiptinfo" id="receiptinfo" value="2">
      <input type="hidden" name="receipt_info_first" id="receipt_info_first" value="1">
      <input type="hidden" name="receipt_info_second" id="receipt_info_second" value="1">
      <input type="hidden" name="mobicode" id="mobicode" value="">
      <input type="hidden" name="invoicename" id="invoicename" value="">
      <input type="hidden" name="invoicenumber" id="invoicenumber" value="">



        <input name="s_name" type="hidden" id="s_name" x-bind:value="deliveryInfo.sname" /> 
        <input name="s_addr" type="hidden" id="s_addr" x-bind:value="deliveryInfo.saddr" />
        <input name="s_country" type="hidden" id="s_country" x-bind:value="deliveryInfo.scountry" />
        <input name="s_postcode" type="hidden" id="s_postcode" x-bind:value="deliveryInfo.spostal" />
        <input name="s_mobi" type="hidden" id="s_mobi"  x-bind:value="deliveryInfo.sphone" />
        <input name="s_tel" type="hidden" id="s_tel" x-bind:value="deliveryInfo.stel" />
        <input name="act" type="hidden" id="act" value="orderformsubmit">
        <input type="hidden" id="tjine" x-bind:value='(orderInfo.oritjine+orderInfo.yunfei-orderInfo.disaccount)' >
        <input type="hidden" name="payid" id="payid" x-bind:value="deliveryInfo.spayid">
        <input type="hidden" name="urlstr" id="urlstr" x-bind:value="jdepromocode">
        <input type="hidden" name="postpayname" id="postpayname" value="">
        <input type="hidden" name="addrtnote" id="addrnote" value="">
        <input type="hidden" name="cardid" id="cardid" value="visa">
      </form>
      <div class="col-2 text-right">
        <button id="prepage_step3">上一頁</button>
      </div>
      <div class="col-9"></div>
    </div>

    <div id="checked_finished_page" style="display: none;">
      <div>
        訂單編號：
        <span id="order_numbers">113101340979</span>
      </div>
    </div>
    <div id="order_finished_msg" style="display: none;">
      <div>訂購成功！</div>
      <div>
        系統已自動發送確認信至您的註冊信箱，請檢查收件匣。<br /><br style="display: none;" />
        如果未收到，請查看垃圾郵件或確認您提供的信箱是否正確。
      </div>
    </div>





								
  </div>
	<!-m0->	
