<!-start->
<link type="text/css" rel="stylesheet" href="{#TM#}20240425/css/shopping_cart.css" />
<script type=text/javascript src="{#CP#}js/orderpay.js"></script>

<div class="checkout-con" id="orderpay">
<!-start->

<!-m0->
<div class="orderpay_cap">訂單付款 - 會員帳戶扣款</div>
<div class="orderpay_txt">
訂單號：{#OrderNo#}<br />
訂單總金額：<span class="money">{#paytotal#}</span> 元<br />
會員帳戶餘額：<span class="money">{#account#}</span> 元<br /><br />
{#payntc#}
<input name="orderid" type="hidden" id="orderid" value="{#orderid#}">

</div>
<!-m0->

<!-m3->
                    <h3 class="cart-title">管理員建立訂單</h3>
                    <!-- section -->
                    <div class="total-sum">
                        <p>訂單編號</p>
                        <p class="money">{#OrderNo#}</p>
                    </div>
                    <!-- /section -->
              		<!-- section -->
                    <div class="row two-col">
                        <div class="col-xs-6">
                            <p class="title">訂單來源</p>
                            <p class="money" style="font-size: 22px;">{#sourcestr#}</p>
                        </div>
                        <div class="clearfix m-b-20"></div>
                        <div class="col-xs-12">
                            <hr class="hr-10">
                        </div>
                    </div>
                    <!-- /section -->
              		<!-- section -->
                    <div class="total-sum st2">
                        <p>金額總計</p>
                        <p class="money">{#pricesymbol#} {#showpaytotal#}</p>
                    </div>
                    <!-- /section -->
                    <!-- section -->
                        <div class="clearfix m-b-20"></div>
                    <p>{#payntc#}</p>
                    <!-- /section -->
<!-m3->

<!-m1->				
			<div id="delivery_options_show" >
				<h3></h3>
			</div>
			<div id="checked_finished_page" >
				<div>
					訂單編號：
					<span id="order_numbers">{#OrderNo#}</span>
				</div>
			</div>
			<div id="order_finished_msg" >
				<div>訂購成功！</div>
				<div>
					系統已自動發送確認信至您的註冊信箱，請檢查收件匣。<br /><br />
					如果未收到，請查看垃圾郵件或確認您提供的信箱是否正確。
				</div>
			</div>
			<div id="shipping_footer">
			</div>
<!-m1->

<!-m2->
			<!--<div class="checkout-block rema-col">
				<div clacc=" rema-col">
					<div class="page-title font-l font-w-l">訂單線上付款 - {#pcenter#}</div>
				</div>
				<div class="background-gray rema-col">
					<div class="checkout-main">
						<div class="rema-col l12 xs12">
							<div class="orderpay_txt">
							訂單號：{#OrderNo#}<br />
							訂單總金額：<span class="money">{#pricesymbol#} {#showpaytotal#} {#paytotal#}</span> 元<br />
							付款方式：{#pcenter#}<br /><br />
							{#intro#}<br /><br />
							{#hiddenString#}
							</div>
						</div>	
					</div>
				</div>
			</div>-->

			<div id="delivery_options_show" >
				<h3></h3>
			</div>
			<div id="checked_finished_page" >
				<div>
					訂單編號：
					<span id="order_numbers">{#OrderNo#}</span>
				</div>
			</div>
			<div id="order_finished_msg" >
				<div>訂購成功！</div>
				<div>
					系統已自動發送確認信至您的註冊信箱，請檢查收件匣。<br /><br />
					如果未收到，請查看垃圾郵件或確認您提供的信箱是否正確。<br /><br />
					{#intro#}<br /><br />
					{#hiddenString#}
				</div>
			</div>
			<div id="shipping_footer">
			</div>
<!-m2->



<!-ok1->
			<div class="checkout-block rema-col">
				<div clacc=" rema-col">
					<div class="page-title font-l font-w-l">訂單成立</div>
					
				</div>
				<div class="background-gray rema-col">
					<div class="checkout-main">
						<div class="rema-col l12 xs12">
							<div class="half-block">
                                <div class="address-check  border-bottom  mobile-order-margin-bottom">
                                    <div class="address-check-title font-m font-w-l mobile-bottom-line">訂單編號</div>
                                    <div class="cash-recheck-bm font-m ">{#OrderNo#}</div>
                                </div>
                                
								<div class="address-check  border-bottom  mobile-order-margin-bottom">
									<div class="address-recheck font-m font-w-l mobile-bottom-line">寄送地址</div>
									<div class="address-check-con">
										<div class="address-recheck-block">
                                            <div class="inline address-check-break">
                                                <div>{#s_name#}</div>
                                            </div>
											<div class="inline address-check-break">
												<div>{#s_addr_a#}</div>
												<div>{#s_addr_b#}</div>
												<div>{#s_addr_c#}</div>
											</div>
											<div class="address-check-break">
												<div>{#s_addr_c#}</div>
											</div>
											<div class="address-check-break">
												<div>{#s_country#}</div>
											</div>
											<div class="address-check-break">
												郵遞區號 {#s_postcode#}
											</div>
											<div class="address-check-break">
												連絡電話 {#s_mobi#}
											</div>
										</div>
										
									</div>
                                </div>
                                <div class="address-check  border-bottom  mobile-order-margin-bottom">
                                    <div class="address-recheck font-m font-w-l mobile-bottom-line">金額總計</div>
                                    <div class="cash-recheck-bm font-m">{#pricesymbol#} {#showpaytotal#}</div>
                                </div>
								<div class="rema-col">
									<div class="order-comp bn-con">
										<a href="{#RP#}" class="shop-bn">繼續購物</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			
<!-ok1->

<!-err1-><div class="ordererr">{#ntc#}</div><!-err1->

<!-menu->						
<!-menu->

<!-end->
</div>
<!-end->