@charset "utf-8";
/* CSS Document */

.filter-icon{
	position: relative;
	display: inline-block;
	float: right;
	line-height: 55px;
	padding-top: 0px;
	padding-right: 0px;
	width: 23px;
	height: 23px;
}
.filter-icon .icon:before{
	font-size: 13px;
}

.filter-bn{
	cursor: pointer;
}

.filter-con{
	float:left;
	width: 14%;
	padding-left: 1.4vw;
	padding-right: 1.4vw;
	padding-bottom: 1.4vw;
	height: 100%;
}
.filter-block{
	overflow: hidden;
	width: 10.6vw;
	padding-left: 0.8vw;
	margin-bottom: 30px;
	background-color: #fff;
	z-index: 5;
}

.filter-title{
	padding-bottom: 10px;
}
.product-list-title{
	display: inline-block;
}

.filter-category-con{
	border-top: 1px solid hsla(0,0%,60%,1.00);
	width: 100%;
	padding-top: 15px;
	padding-bottom: 15px;
}
.filter-category-item{
	padding-left: 18px;
	display: none;
}

.filter-category-item a:hover{
	/*color: hsla(0,0%,60%,1.00);*/
	color: #01c3ff;
}

.filter-category-item div{
	line-height: 35px;
}

.product-list-title-icon-size.icon1.icon-next:after{
	font-size: 18px;
}
.product-list-title{
	padding-bottom: 5px;
}

.mamber-filter.icon:after{
	font-size: 18px;
}
.member-list-title{
	padding-bottom: 15px;
}
.filter-faq{
	padding-left: 18px;
}
.filter-faq div{
	line-height: 35px;
}
.filter-hide{
	display: none;
}
.mobile-nav{
	display: none;
}
.product-main-con{
	padding-left: 45px;
}


@media(max-width:1000px){
	#filter{
		display: none;
	}
	.product-list-title.rema-col{
		padding-left: 5vw;
	}
	.product-list-title{
		padding-right: 0;
		padding-bottom: 10px;
	}
	.member-list-title{
		margin-left: 5%;
	}
	.list-title-first{
		padding-left: 5%
	}
	.mobile-nav{
		display: flex;
		justify-content: right;
		float: right;
		padding-top: 6px;
		padding-right: 4%;
	}
	.mobile-nav div{
		padding-left: 3px;
		padding-right: 3px;
	}
	.product-main-con{
		padding-left: 0px;
	}
}

@media screen and (min-width: 431px) and (max-width: 1668px) {
	.w-83 {
		width: 83vw;
	}

	.filter-block{
		width: 11vw;
	}
}
