<!doctype html>

<html>

<head>

<meta charset="utf-8">

<title>{#pagetitle#} {#sitename#}</title>

    <meta name="description" content="{#metacon#}">

    <meta name="Keywords" content="{#metakey#}">

	{#metaimage#}

	{#addmeta#}

	{#addscript#}

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="{#TM#}css/owl.carousel.css">

    <link rel="stylesheet" href="{#TM#}css/owl.theme.default.css">

	<link rel="stylesheet" href="{#TM#}css/HeaderAndFoot.css?6">

	<link rel="stylesheet" href="{#TM#}css/InputStyle.css">

	<link rel="stylesheet" href="{#TM#}css/PopupWindow.css?4">

	<link rel="stylesheet" href="{#TM#}css/Home.css?1">

	<link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
	<link type="text/css" rel="stylesheet" href="{#TM#}20240425/css/header.css?t=20240923" />
	<link type="text/css" rel="stylesheet" href="{#TM#}20240425/css/header.css?t=20240923" />
    <link type="text/css" rel="stylesheet" href="{#TM#}20240425/css/footer.css" />
    <link type="text/css" rel="stylesheet" href="{#TM#}20240425/css/apple-fonts.css" />
    <link type="text/css" rel="stylesheet" href="{#TM#}20240425/css/product.css" />
    <link type="text/css" rel="stylesheet" href="{#TM#}20240425/css/nav.css" />
	<link type="text/css" rel="stylesheet" href="{#TM#}20240425/css/homeNew.css" />
  	<link type="text/css" rel="stylesheet" href="{#TM#}20240425/css/responsive.css" />
	<style>
		a.totop {
			display: none;
  position: fixed;
  right: 24px;
  bottom: 144px;
  width: 44px;
  height: 44px;
  line-height: 40px;
  text-align: center;
  border: 1px solid #000;
  background: rgba(255, 255, 255, 0.8);
  color: #fff;
  font-size: 2rem;
  z-index: 1500;
  border-radius: 50%;
}
	</style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
		<![endif]-->
		<script src="{#TM#}js/jquery.min.js"></script>
  	<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
		<script src="{#TM#}js/owl.carousel.js"></script>
		<script src="{#TM#}js/HeaderAndFoot.js"></script>
		<script src="{#TM#}js/Home.js?1"></script>
		<script src="{#TM#}js/popupwindow.js?11"></script>
    <!-- wayhunt -->
		<script type=text/javascript src="{#RP#}base/js/form.js"></script>
		<script type=text/javascript src="{#RP#}base/js/custom.js"></script>
		<script type=text/javascript src="{#RP#}shop/js/cart.js"></script>
		<script type=text/javascript src="{#TM#}20240425/js/header.js?t=20240923"></script>
		<script>
			document.addEventListener('DOMContentLoaded', function () {
					var isSafari = /^((?!chrome|android).)*safari/i.test(navigator.userAgent);
					if (isSafari) {
							document.body.classList.add('safari');
					}
				});
		</script>
		<!-reload-!>
	</head>


	<body>
		<section id="header" class="rema-col l12">
			<!--跑馬燈部分-->
			<div class="marquee">
				<div class="mx-width">
					<!-- 跑馬燈 -->
					<div class="owl-carousel owl-theme marquee-con mx-width">
						{#MARQUEE#}
					</div>
					<!-- END跑馬燈 -->
				</div>
			</div>
			<!-- END跑馬燈部分-->
			<!--頁首選單-->
			{#CHANNELMENU#}
		</section>
		
		<div id="index">
			<div class="swiper mySwiper">
				<div class="swiper-wrapper">
					{#LB#}
				</div>
				<div class="arrow_l"><img src="{#TM#}20240425/images/arrow_l.png" /></div>
				<div class="arrow_r"><img src="{#TM#}20240425/images/arrow_r.png" /></div>
			</div>
		</div>
		<a href="javascript:;" class="totop"><img src="{#TM#}img/ic_arrow_up.svg"></a>
		<div class="service_wrap">
			<div class="service">
				<div class="wrap">
				<div class="article">
					<ul>
					<li><img src="{#TM#}20240425/images/serviceicon_01.png" /></li>
					<li>保證修補</li>
					<li>
						若您購買的衣物出現破損，我們提供保證修補到好的服務，以確保您的裝備始終處於最佳狀態。<br />
						<br />
					</li>
					</ul>
				</div>
				<div class="line"></div>
				<div class="article">
					<ul>
					<li><img src="{#TM#}20240425/images/serviceicon_02.png" /></li>
					<li>靈活換貨</li>
					<li>
						如果您對所購買的商品不完全滿意，無論是尺寸不合，風格不符或其他任何原因，我們提供的換貨服務，讓您能再次選擇。
					</li>
					</ul>
				</div>
				<div class="line dex"></div>
				<div class="article">
					<ul>
					<li><img src="{#TM#}20240425/images/serviceicon_03.png" /></li>
					<li>免費退貨</li>
					<li>
						如果您需要退貨，我們提供免費退貨政策，在10天鑑賞期限內您可以毫無負擔地退回商品。<br />
						<br />
					</li>
					</ul>
				</div>
				<div class="line"></div>
				<div class="article">
					<ul>
					<li><img src="{#TM#}20240425/images/serviceicon_04.png" /></li>
					<li>除舊換新</li>
					<li>
						為鼓勵持續更新您的運動裝備，我們提供除舊換新的服務，將您的舊衣物交回給我們，可以享受購買新衣物的優惠。
					</li>
					</ul>
				</div>
				</div>
			</div>
			<div class="edm">
				<div class="wrap">
				<span>訂閱REMA電子報</span>
				<div class="edm_input">
					<input type="email" name="email" placeholder="輸入您的電郵地址" />
				</div>
				</div>
			</div>
			
			</div>
		<!--頁尾-->
		<footer>
			<div class="max-width">
			<ul class="d-flex flex-wrap">
				{#footer#}
				
			</ul>
			</div>
			<div class="copyright d-flex justify-content-center">
			© 2024 REMA INC.ALL RIGHTS RESERVED
			</div>
		</footer>
		<section id="popupwindow-in">
		</section>
		<div id="SelectCountry" style="display:none;">
			{#LANTYPE#}	
		</div>
		{#addbtscript#}
	</body>
</html>
<script>
	var swiper = new Swiper(".mySwiper", {
		loop: true,
		speed: 1000,
		autoplay: {
		delay: 50000,
		disableOnInteraction: false,
		},
		navigation: {
		nextEl: ".arrow_l",
		prevEl: ".arrow_r",
		},
		on: {
		init: function() {
					updateCurrentSlide(this);
				},
				slideChange: function() {
					updateCurrentSlide(this);
				}

		}
	});
	function updateCurrentSlide(swiper) {
		const currentSlide = swiper.slides[swiper.activeIndex];
		
		let color = $(currentSlide).data('color');
		if(color === 0) {
			$('#index-header').addClass('active');
		} else {
			$('#index-header').removeClass('active');
		}
			// 在此處添加任何需要的操作，例如更新界面元素
		}
	document.addEventListener("mouseover", function(event) {
		const menu = document.querySelector('.menu_open');
		
		
		if(menu.contains(event.target) || event.target.classList.contains("l_white")) {
			$('.menu_open').css('display', 'block');
		} else {
			$('.menu_open').css('display', 'none');
		}
	});
	
	$('.menu-click').on('click', function() {
		$('.m_memu_wp').css('display', 'block');
		
	});
	$('.xx').on('click', function() {
		$('.m_memu_wp').css('display', 'none');
		
	});
	$('.m_memu_wp .wrap').on('click', function() {
		$('.page02').css('display', 'block');
		
	});
	$('.page02 .back').on('click', function() {
		$('.page02').css('display', 'none');
		
	});


	window.addEventListener('scroll', function() {
		let element = document.getElementsByClassName("mySwiper");
			let bottom = element[0].getBoundingClientRect().bottom;

		if(bottom <= 0) {
			$('#index-header').addClass('black-color');
		} else {
			$('#index-header').removeClass('black-color');
		}
	});
</script>